<ion-view view-title="Library Phone Numbers">
  <ion-content>

   <!-- Foursquare data -->

   <ion-refresher
      pulling-text="The freshest..."
      pulling-icon="ion-ios-bookmarks-outline"
      on-refresh="doRefresh()">
    </ion-refresher>


   <ion-list class="list">
     <ion-item class="item item-divider">
      Tap to call your local branch
     </ion-item>
     <ion-item collection-repeat="answer in answers  | filterBy: ['contact.facebookUsername']: 'wcplonline' |  orderBy : 'name' " ng-href="tel:{{answer.contact.phone}}" class="item item-icon-left">
       <i class="icon ion-ios-telephone"></i>
       {{answer.name}}
       <h4>{{answer.location.city}}: {{answer.contact.formattedPhone}}</h4>
     </ion-item>
   </ion-list>


   <ion-item class="item item-divider">


   <a onclick="window.open('https://foursquare.com/explore?mode=url&near=Wake%20County%20NC&q=Library', '_system'); return false;" class="item icon-left ion-social-foursquare">
     Phone data from Foursquare
   </a>
      </ion-item>
  </ion-content>
</ion-view>
