<ion-view view-title="Library Contacts">
  <ion-content>


   <!-- Foursquare data -->
   <div ng-controller="FourSquareLocationContactsCtrl">

       <ion-list class="list">

         <ion-item collection-repeat="answer in answers  | filterBy: ['contact.facebookUsername']: 'wcplonline' |  orderBy : 'name' " ng-href="tel: {{phone}}" class="item item-icon-left">
           <i class="icon ion-ios-telephone"></i>
           <h2>{{answer.name}}</h2>
           <h4>{{answer.location.city}}: {{answer.contact.formattedPhone}}</h4>
         </ion-item>

       </ion-list>

          <a href="https://foursquare.com" class="button button-clear button-light icon-left ion-social-foursquare">
            Phone data from Foursquare
          </a>
   </div>

  </ion-content>
</ion-view>
