<ion-view view-title="Library Contacts">
  <ion-content>

    <ion-list>

    <ion-item class="item item-button-right" href="/libraries/locations/adr">Athens Drive High School Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-233-4000</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/lee">Leesville Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-571-6661</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/cam">Cameron Village Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-856-6710</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/nor">North Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-870-4000</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/cry">Cary Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-460-3350</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/orl">Olivia Raney Local History Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-250-1196</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/dur">Duraleigh Road Community Library 
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-881-1344</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/rbh">Richard B. Harrison Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-856-5720</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/erl">East Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-217-5300</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/ser">Southeast Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-662-2250</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/eva">Eva Perry Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-387-2100</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/sga">Southgate Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-856-6598</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/elf">Express Library - Fayetteville Street
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-856-6690</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/wak">Wake Forest Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-554-8498</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/fuq">Fuquay-Varina Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-557-2788</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/wen">Wendell Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-365-2600</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/gre">Green Road Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-790-3200</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/wrl">West Regional Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-463-8500</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/hsp">Holly Springs Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-577-1660</ion-item>
    <ion-item class="item item-button-right" href="/libraries/locations/zeb">Zebulon Community Library
    <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>919-404-3610</ion-item>

  </ion-list>

  </ion-content>
</ion-view>
