<ion-view view-title="Wake County Library Facebook">
  <ion-content>


    <div class="fb-page padding"
    data-href="https://www.facebook.com/wcplonline"
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="false"

    data-show-posts="true">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/wcplonline">
        <a href="https://www.facebook.com/wcplonline">Wake County Public Libraries</a>
      </blockquote></div></div>

  </ion-content>
</ion-view>
