<ion-view view-title="Wake County Libraries">
  <ion-content>

  <!-- Buttons -->
<div class="padding">
    <div class="row">
        <a class="col col-50 button icon-left ion-ios-book-outline button-block button-calm" ui-sref="app.booksearch">Find Books</a>

        <a class="col col-50 button icon-left ion-ios-calendar-outline button-block button-calm" ui-sref="app.eventsLanding">Events</a>
      </div>
    <div class="row">
        <a class="col col-50 button icon-left ion-ios-location-outline button-block button-calm" ui-sref="app.locations">Locations</a>

        <a class="col col-50 button icon-left ion-ios-help-outline button-block button-calm" ui-sref="app.askwcpl">Ask WCPL</a>
    </div>
</div>





<!-- News -->
<ion-list type="list-inset" ng-controller="NewsCtrl">
    <ion-item class="item item-divider">
      Wake Library News
    </ion-item>

    <ion-item class="item item-icon-left item-text-wrap" ng-repeat="newsitem in news | filter:{category:'Libraries'} | orderBy:'-pubDate'" href="#/app/news/{{newsitem.title}}">
      <i class="icon ion-ios-paper-outline"></i>
      <h2>{{newsitem.title}}</h2>
      <h5>{{newsitem.pubDate}}</h5>
    </ion-item>
</ion-list>




<!-- Services -->
<ion-list type="card">

  <ion-item class="item item-divider">
    Library Services
  </ion-item>

  <ion-item ui-sref="app.text" class="item item-icon-left">
    <i class="icon ion-android-chat"></i>
    Text a question
  </ion-item>

  <ion-item ui-sref="app.contact" class="item item-icon-left">
    <i class="icon ion-android-call"></i>
    Library Contacts
  </ion-item>

  <ion-item ui-sref="app.twitter" class="item item-icon-left">
    <i class="icon ion-social-twitter-outline"></i>
    Wake Libraries on Twitter
  </ion-item>

  <ion-item ui-sref="app.facebook" class="item item-icon-left">
    <i class="icon ion-social-facebook-outline"></i>
    Wake Libraries on Facebook
  </ion-item>

</ion-list>


  </ion-content>
</ion-view>
