<ion-view class="home" view-title="Wake County Libraries">

  <!-- add hide-nav-bar="true" to ion-view to hide -->
    <ion-content>
      <!-- style>
        .home .has-header{top:0px;}
       .nav-bar-block{max-width:3em;}
     </style -->

    <style>
      .homescreen-list div.list {margin-bottom: 0.6em}
      .NewsInset div.list {margin-top: -0.25em;margin-bottom: 1.5em;}
      .sliderTitle {display:block;position:absolute;bottom:0.5em;text-shadow:1px 1px 1px #444}  /* In slider box, moves text up over image */
    </style>


  <!-- Slidebox of images -->
  <!-- Local copy -->
  <!-- ion-slide-box
    style="top:-3em;margin-bottom:-3em"
    show-pager="false"
    does-continue="true"
    ng-init="images=['nor','erl','cry','dur','elf','cam','eva','fuq','gre','hsp','lee','orl','rbh','ser','sga','wak','wen','wrl','zeb']">
  		<ion-slide ng-repeat="image in images">
  			<img ng-src="img/locations/{{ image }}.png" style="width:100%;margin:auto;display:block" />
  		</ion-slide>
  </ion-slide-box -->




<span ng-controller="HomeSlideImagesCtrl"> <!-- Images, local links -->
  <span ng-controller="HomeSlideLocationsCtrl"> <!-- Titles from maps.wakegov -->
    <ion-slide-box
      style="top:-3em;margin-bottom:-2.8em"
      show-pager="false"
      does-continue="true">

      <!-- shuffle controller w/https://github.com/nachinius/angular-shuffler ? -->

      <ion-slide ng-repeat="loc in library3letterlocs">
          <img ng-src="img/locations/{{loc.loc}}.png" style="width:100%;margin:auto;display:block" />

          <span class="sliderTitle light padding-left">

            <span ng-repeat="loc in library3letterlocs | filter: loc.loc | limitTo:1">
              {{loc.name}}
            </span>

            <span ng-repeat="location in locations | filter: loc.loc | limitTo:1">
              {{location.attributes.NAME}}
            </span>

          </span>

          </span>
      </ion-slide>

  </ion-slide-box>
  </span>
</span>











<!-- News is wrapped in a div so we can hide the whole thing if no news -->
<div id="NewsWrapper">
  <h4 class="icon ion-ios-paperplane padding-left padding-top dark"> LIBRARY NEWS</h4>

  <ion-list type="card" ng-controller="NewsCtrl" class=NewsInset>

      <!-- original ng-repeat newsitem in news | limitTo:1 | filter:{category:'Libraries'} | orderBy:'-pubDate' -->
      <!-- maybe good: ng-repeat="newsitem in news | filter:{category:'Libraries'} | filter:{category:'Libraries; WakeGOV Home Page'} | orderBy:'-pubDate' " -->
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat="newsitem in news | filter:{category:'Libraries'} |  orderBy:'-pubDate' " href="#/app/news/{{newsitem.title}}">
        <p>{{newsitem.pubDate | limitTo: 17 }}{{newsitem.pubDate.length > 17 ? ' ' : ''}}</p>
        <h2>{{newsitem.title}}</h2>
        <i class="icon ion-ios-paper-outline"></i>
      </ion-item>

      <!-- For situations with no news articles -->
      <ion-item ng-hide="news.length" class="item item-text-wrap" onclick="window.open('https://www.twitter.com/wcplonline', '_system'); return false;" >
          <p>No recent news</p>
      </ion-item>

  </ion-list>
</div><!-- /#NewsWrapper -->




<h4 class="icon ion-radio-waves padding-left dark"> WAKE LIBRARY SERVICES</h4>

<ion-list class="homescreen-list">
  <ion-item class="item-icon-left item-text-wrap" ui-sref="app.locations" >
    <i class="icon ion-ios-location-outline"></i>
    <h2>Wake Library Locations</h2>
    <p>Find your local library and check out today's events &amp; activities</p>
  </ion-item>
</ion-list>

<ion-list class="homescreen-list">
    <ion-item class="item-icon-left item-text-wrap" ui-sref="app.booksearch">
    <i class="icon ion-ios-book-outline"></i>
    <h2>Search for books</h2>
    <p>Currently available through Wake County Libraries</p>
  </ion-item>
</ion-list>
<ion-list class="homescreen-list">
  <ion-item class="item-icon-left item-text-wrap" ui-sref="app.askwcpl">
      <i class="icon ion-ios-help-outline"></i>
      <h2>Ask Wake County Libraries</h2>
      <p>FAQs about membership, book borrowing, ebooks, and more.</p>
  </ion-item>
</ion-list>
<ion-list class="homescreen-list">
  <ion-item class="item-icon-left item-text-wrap" ui-sref="app.eventsLanding">
    <i class="icon ion-ios-calendar-outline"></i>
    <h2>Wake Library Events</h2>
    <p>Find great things to do at your Wake County library. Events for kids, teens, and adults.</p>
  </ion-item>
</ion-list>

<BR />


<h4 class="icon ion-social-twitter padding-left dark"> WCPL ON TWITTER</h4>

<ion-list type="list-inset" ng-controller="TwitterCtrl" class=NewsInset>
  <ion-item>
    <a class="twitter-timeline"
    href="https://twitter.com/wcplonline"
    data-widget-id="628377179139801089"
    data-chrome="noheader transparent nofooter noscrollbar"
    data-tweet-limit="1">
    Tweets by @wcplonline</a>
<br />
      <button class="button button-small button-calm" onclick="window.open('https://www.twitter.com/wcplonline', '_system'); return false;">Follow @wcplonline</button>  <button class="button button-small button-balanced" onclick="window.open('https://twitter.com/search?q=%23wcplreads%20from%3Awcplonline', '_system'); return false;">#wcplreads</button>
  </ion-item>

</ion-list>


<br />
<h4 class="icon ion-android-chat padding-left dark"> CONTACT WCPL</h4>

<ion-list type="list-inset" type="list-inset" class=NewsInset>

  <ion-item class="item-icon-left" ui-sref="app.contact">
      <i class="icon ion-android-call"></i>
      <h2>Call your local library</h2>
      <p></p>
  </ion-item>

  <ion-item ui-sref="app.text" class="item item-icon-left">
    <i class="icon ion-android-chat"></i>
    <h2>Text your question</h2>
  </ion-item>

</ion-list>


<br />
<br />
  </ion-content>
</ion-view>
