<ion-view view-title="Text a question">
  <ion-content>
    <div class="list card">

      <div class="item icon">
        <h2>Text Wake County Libraries</h2>
        <p>Ask a quick question</p>
      </div>

      <div class="item">
        <p>Texting available during these hours</p>
<ul>
<li>Mon-Wed: 9 a.m.-6 p.m.
<li>Thur: 9 a.m.-5 p.m.
<li>Fri: 10 a.m.-5 p.m.
<li>Sat: 10 a.m.-2 p.m.
</ul>
<p>This service is not available when the library system is closed for a holiday.</p>
      </div>

      <a class="button block icon-left positive" href="sms:919-344-0685">
        <i class="icon ion-android-textsms"></i>
        Text your question (919) 344-0685
      </a>

    </div>

  </ion-content>
</ion-view>
