<ion-view view-title="Text a question">
  <ion-content>
    <ion-list type="card">

      <ion-item class="item item-divider">
        <h2>Text Wake County Libraries</h2>

      </ion-item>

      <ion-item class="item-text-wrap">
              <h2>Service for asking quick questions to WCPL.</h2>
        <p>Texting available during these hours</p><br/>
<ul>
<li>Mon-Wed: 9 a.m.-6 p.m.
<li>Thur: 9 a.m.-5 p.m.
<li>Fri: 10 a.m.-5 p.m.
<li>Sat: 10 a.m.-2 p.m.
</ul><br />
<p>This service is not available when the library system is closed for a holiday.</p>
<br />
<p>Text will be sent to this number: (919) 344-0685</p><br/>
<a class="button block icon-left button-positive" href="sms:919-344-0685">
  <i class="icon ion-android-textsms"></i>
  Text your question
</a>
      </ion-item>



    </ion-list>

  </ion-content>
</ion-view>
