<ion-view view-title="Wake County Library Tweets">
  <ion-content>


  <div class="list card">

    <div class="item item-icon-left">
      <i class="icon ion-social-twitter-outline"></i>
      <h2>Recent Tweets</h2>
      <p>From Wake County Public Libraries</p>
    </div>

      <a class="twitter-timeline"
      href="https://twitter.com/wcplonline"
      data-widget-id="628377179139801089"
      data-chrome="noheader transparent nofooter"
      data-tweet-limit="2"
      data-aria-polite="assertive">
      Tweets by @wcplonline</a>
  </div>


<div class="padding">
  <a class="button button-block button-balanced" onclick="window.open('https://twitter.com/wcplonline', '_system');">
    <i class="icon ion-social-twitter-outline"></i>
    Follow @wcplonline
  </a>
</div>
  </ion-content>
</ion-view>
