<ion-view view-title="Wake County Library Tweets">
  <ion-content>
    <div class="padding-horizontal">
    <a class="twitter-timeline"
    href="https://twitter.com/wcplonline"
    data-widget-id="628377179139801089"
    data-chrome="noheader transparent nofooter"
    data-tweet-limit="4"
    data-aria-polite="assertive">
    Tweets by @wcplonline</a>
  </div>

  <a class="button icon-left ion-social-twitter-outline" href="https://twitter.com/wcplonline">Follow</s>

  </ion-content>
</ion-view>
