<ion-view view-title="Wake County Library Events">
  <ion-content>
    <h1>Events</h1><input ng-model="query">
      <ion-list>
        <a href="#/app/event/21">Button</a>
    <div class="list">

      		<a ng-repeat="event in events | filter:query" class="item" href="#/app/event/{{ event.$$hashKey }}">
            <h2>{{event.title}}</h2>
            <h4>{{event.location.__text}}</h4>
            <h4>{{event.uid.__text}}</h4>
              <h4>{{event.$$hashKey}}</h4>
          </a>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
