<ion-view view-title="Wake County Library Events">
  <ion-content>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Location
    </div>
    <select ng-model="locationFilter">
      <option value="">All libraries</option>
      <option
        ng-if="event.location.__text"
        ng-repeat="event in events | orderBy: 'location.__text' | unique: 'location.__text'"
        value="{{event.location.__text}}">
        {{event.location.__text}}</option>
    </select>
  </label>

  </label>


</div>







<!-- Lists events -->
<ion-list class="list" >

		<ion-item class="item item-icon-left" ng-repeat="event in events | filter:locationFilter" class="item item-text-wrap" ng-click="showDetails = ! showDetails">
      <i class="icon ion-calendar"></i>
      <h2>{{event.title}}</h2>
      <h4>{{event.location.__text}}, </h4>
      <h4>{{event.formatteddatetime.__text}}</h4>
      <div class="card padding answerdetails " ng-show="showDetails">
        <p>File under: <strong>{{event.customfield[2].__text}}</strong></p>
        <span class="item-text-wrap" ng-bind-html="event.description_asArray"></span>

      </div>
    </ion-item>

</ion-list>

  </ion-content>
</ion-view>
