<ion-view view-title="Wake County Library Locations">
  <ion-content>
    <!-- starts the library location card -->
    <div class="list card">

      <!-- Header for Library name -->
      <div class="item item-divider">
        {{location.attributes.NAME}}
      </div>

      <!-- Holds image of library -->
      <div class="item item-image">
        <img ng-src="http://www.wakegov.com/libraries/locations/PublishingImages/{{location.attributes.CODE}}.png" />
      </div>

      <!-- Address and Map link Row -->
      <div class="item" style="padding:16px 5px 16px 5px;">
        <div class="row">
          <div class="col col-30">
            <a href="https://www.google.com/maps/place/{{location.attributes.NAME}}+{{location.attributes.FAC_ADDRESS}}/{{location.geometry.x}},{{location.geometry.y}},17z/" class="button icon-left ion-android-map button-positive">Map</a>
          </div>
          <div class="col col-67">
            <p><strong>{{location.attributes.NAME}}</strong><br/>{{location.attributes.FAC_ADDRESS}}<br/>{{location.attributes.CITY}}, NC</p>
          </div>
        </div>
      </div>

      <!-- Hours iframe -->
      <div class="item">
      </div>


      <!-- large map image -->
      <div class="item item-image">
        <a href="https://www.google.com/maps/place/{{location.attributes.NAME}}+{{location.attributes.FAC_ADDRESS}}/{{location.geometry.x}},{{location.geometry.y}},17z/">
          <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{location.attributes.FAC_ADDRESS}}+{{location.attributes.CITY}}+NC&zoom=15&scale=1&size=440x300&maptype=roadmap&key=AIzaSyC4lGFKI7caErQ3MacquCOUjU4fJJjpzHM&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:L%7C{{location.attributes.FAC_ADDRESS}}+{{location.attributes.CITY}}+NC">
        </a>
      </div>

      <div class="item item-divider">
      </div>

      </div><!-- ends card -->

      <div class="padding">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/app/locations"> Back to All Locations</a>
      </div>





  </ion-content>
</ion-view>
