<ion-view view-title="{{location.attributes.NAME}}">
  <ion-content>
    <!-- starts the library location card -->
    <div class="list card">

      <!-- Header for Library name -->
      <div class="item item-divider">
        {{location.attributes.NAME}}
      </div>

      <!-- Holds image of library -->
      <div class="item item-image">
        <img ng-src="http://www.wakegov.com/libraries/locations/PublishingImages/{{location.attributes.CODE}}.png" />
      </div>

      <!-- Address and Map link Row -->
      <div class="item" style="padding:16px 5px 16px 5px;">
        <div class="row">
          <div class="col col-30">
            <a href="https://www.google.com/maps/place/{{location.attributes.NAME}}+{{location.attributes.FAC_ADDRESS}}/{{location.geometry.x}},{{location.geometry.y}},17z/" class="button icon-left ion-android-map button-positive">Map</a>
          </div>
          <div class="col col-67">
            <p><strong>{{location.attributes.NAME}}</strong>
              <br/>{{location.attributes.FAC_ADDRESS}}
              <br/>{{location.attributes.CITY}}, NC</p>
            </div>
          </div>
              <!-- Foursquare data -->
              <div ng-controller="FourSquareLocationCtrl">
                  <a ng-repeat="answer in answers" class="button icon-left ion-ios7-telephone button-calm" ng-href="tel: {{phone}}">{{answer.contact.formattedPhone}}</a>
             </div>

             <a href="https://foursquare.com" class="button button-clear button-light icon-left ion-social-foursquare">
               Phone data from Foursquare
             </a>

      </div>
    </div> <!-- ends card -->






<!-- Today's events -->
  <ion-list type="list-inset" ng-controller="EventsTodayCtrl">
    <ion-item class="item item-divider">
     Today at {{location.attributes.NAME}}
    </ion-item>

    <!-- location is passed as a filter into events -->
    		<ion-item class="item item-icon-left" ng-repeat="event in events | filter: location.attributes.NAME" class="item item-text-wrap" ng-click="showDetails = ! showDetails">
          <i class="icon ion-calendar"></i>
          <h2>{{event.title}}</h2>
          <h4>{{event.location.__text}}, </h4>
          <h4>{{event.formatteddatetime.__text}}</h4>
          <div class="card padding answerdetails " ng-show="showDetails">
            <p>File under: <strong>{{event.customfield[2].__text}}</strong></p>
            <span class="item-text-wrap" ng-bind-html="event.description_asArray"></span>

          </div>
        </ion-item>

  </ion-list>


<!-- end events -->




      <!-- div class="padding">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/app/locations"> Back to All Locations</a>
      </div -->

      <!-- ion-list>

            <div class="item item-image">
              <a href="https://www.google.com/maps/place/{{location.attributes.NAME}}+{{location.attributes.FAC_ADDRESS}}/{{location.geometry.x}},{{location.geometry.y}},17z/">
                <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{location.attributes.FAC_ADDRESS}}+{{location.attributes.CITY}}+NC&zoom=15&scale=1&size=440x300&maptype=roadmap&key=AIzaSyC4lGFKI7caErQ3MacquCOUjU4fJJjpzHM&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:L%7C{{location.attributes.FAC_ADDRESS}}+{{location.attributes.CITY}}+NC">
              </a>
            </div>
      </ion-list -->



  </ion-content>
</ion-view>
