<ion-view view-title="Wake County Library Locations">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Find a Library" ng-model="query" autocorrect="off">
    </label>
    <ion-list class="list">



        <ion-item ng-repeat="location in locations | filter:query" href="#/app/locations/{{location.attributes.OBJECTID}}" class="item item-thumbnail-left">

          <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{location.attributes.FAC_ADDRESS}},+{{location.attributes.CITY}},+NC&zoom=13&scale=2&size=160x160&maptype=terrain&key=AIzaSyC4lGFKI7caErQ3MacquCOUjU4fJJjpzHM&format=png&visual_refresh=true">
          <h2>{{location.attributes.NAME}}</h2>
          <h4>{{location.attributes.CITY}}</h4>
        </ion-item>
        <ion-item class="item" href="#/app/locations-all">
          <h2>All Wake County Libraries</h2>
          <h4>View on Google Maps</h4>
        </ion-item>
    </ion-list>

    <!-- About this data -->
    <div class="list card">
      <div class="item">
        <h2>About this Location Data</h2>
        <p>Wake County Libraries</p>
      </div>

      <div class="item item-body">
      <img class="full-image" src="/img/wake-library-logo.jpg">
        <p>The Wake County Library locations are provided through the Wake County Open Data Portal.  It provides maps, location data feeds, and much more.</p>
      </div>

      <a class="item item-icon-left calm" href="http://data.wake.opendata.arcgis.com/">
      <i class="icon ion-android-exit"></i>
      Vist Wake Open Data</a>
    </div>

  </ion-content>
</ion-view>
