<ion-view view-title="{{location.attributes.NAME}}">
  <ion-content>
    <!-- starts the library location card -->
    <div class="list card">

      <!-- Holds image of library -->
      <div class="item item-image">
        <img ng-src="http://www.wakegov.com/libraries/locations/PublishingImages/{{::location.attributes.CODE}}.png" />
        <!-- img ng-src="img/locations/{{location.attributes.CODE}}.png" / -->
      </div>

      <!-- Address and Map link Row -->
      <div class="item" style="padding:15px;">

            <strong class="assertive">{{::location.attributes.STATUS}}</strong>
            <p style="margin-bottom:10px;"><strong>{{::location.attributes.NAME}}</strong>
              <br/>{{::location.attributes.FAC_ADDRESS}}
              <br/>{{::location.attributes.CITY}}, NC</p>
            <!-- Loads phone number from FourSquare -->
            <span ng-controller="FourSquareLocationContactsCtrl">
              <a class="button button-small padding-horizontal icon-left ion-android-call button-calm" ng-repeat="answer in answers | filter: location.attributes.NAME | limitTo:1 " ng-href="tel:{{::answer.contact.phone}}"> {{::answer.contact.formattedPhone}}</a>
            </span><!-- /end foursquarecontroller -->
            <div data-tap-disabled="true" style="float:Right;">
                <a href="https://www.google.com/maps/place/{{location.attributes.NAME}}+{{location.attributes.FAC_ADDRESS}}/{{location.geometry.x}},{{location.geometry.y}},17z/" class="google-map button padding-horizontal button-small icon-left ion-pinpoint button-positive" >Show on Map</a>
            </div>
      </div>
    </div> <!-- ends card -->



<!-- Today's events -->
  <ion-list type="list-inset" ng-controller="EventsTodayCtrl">
    <ion-item class="item item-divider">
     Today at {{::location.attributes.NAME}}
    </ion-item>

    <!-- location is passed as a filter into events -->
      <!-- the : true in filter keeps East Regional and SouthEast Regional seperate -->
    		<ion-item class="item" ng-repeat="event in events | filter: location.attributes.NAME : true" class="item item-text-wrap" ng-click="showDetails = ! showDetails">
          <h2>{{::event.title}}</h2>
          <h4>{{::event.location.__text}}, </h4>
          <h4>{{::event.formatteddatetime.__text}}</h4>
          <div class="card padding answerdetails " ng-show="showDetails">
            <p>File under: <strong>{{::event.customfield[2].__text}}</strong></p>
            <span class="item-text-wrap" ng-bind-html="event.description_asArray"></span>
          </div>
        </ion-item>

  </ion-list>
<br />

<!-- end Today's events -->


<!-- Tomorrow'ss events -->
  <ion-list type="list-inset" ng-controller="EventsTomorrowCtrl">
    <ion-item class="item item-divider">
     Tomorrow at {{::location.attributes.NAME}}
    </ion-item>

    <!-- location is passed as a filter into events -->
      <!-- the : true in filter keeps East Regional and SouthEast Regional seperate -->
    		<ion-item class="item" ng-repeat="event in events | filter: location.attributes.NAME : true" class="item item-text-wrap" ng-click="showDetails = ! showDetails">
          <h2>{{::event.title}}</h2>
          <h4>{{::event.location.__text}}, </h4>
          <h4>{{::event.formatteddatetime.__text}}</h4>
          <div class="card padding answerdetails " ng-show="showDetails">
            <p>File under: <strong>{{::event.customfield[2].__text}}</strong></p>
            <span class="item-text-wrap" ng-bind-html="event.description_asArray"></span>
          </div>
        </ion-item>

  </ion-list>
<br /> <br />



<ion-list>
  <ion-item class="item item-divider">

  <a onclick="window.open('https://foursquare.com/explore?mode=url&near=Wake%20County%20NC&q=Library', '_system'); return false;" class="item icon-left ion-social-foursquare">
    Phone number data from Foursquare
  </a>
     </ion-item>
</ion-list>

  </ion-content>
</ion-view>
