<html ng-app="starter">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <title>Ionic Framework Example</title>
  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script>

var WakeLibraryApp = angular.module('starter', ['ionic']);

WakeLibraryApp.config(function($stateProvider, $urlRouterProvider) {

  $stateProvider
    .state('list', {
      url: '/',
      templateUrl: 'list.html',
      controller: 'ListCtrl'
    })
    .state('view', {
      url: '/library/:locationId',
      templateUrl: 'view.html',
      controller: 'ViewCtrl'
    });

  $urlRouterProvider.otherwise("/");

});

WakeLibraryApp.factory('LibraryLocations', function($http) {
  var cachedData;

  function getData(locationname, callback) {
    var LocationsUrl = 'http://maps.wakegov.com/arcgis/rest/services/WCPL/Libraries/FeatureServer/0/query?where=+&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=*&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&gdbVersion=&returnDistinctValues=false&returnIdsOnly=false&returnCountOnly=false&orderByFields=NAME&groupByFieldsForStatistics=CITY&outStatistics=&returnZ=false&returnM=false&f=pjson';

    $http.get(LocationsUrl).success(function(data) {

      cachedData = data.features;
      callback(data.features);
      // Factory has successfully queried data
      console.log(JSON.stringify(cachedData));

    });
  }

  return {
    list: getData,
    find: function(name, callback) {
      console.log("name" + name);
      var location = cachedData.filter(function(entry) {
        return entry.attributes.OBJECTID == name;
      })[0];
      callback(location);
    }
  };

});

WakeLibraryApp.controller('ListCtrl', function($scope, $http, LibraryLocations) {

  $scope.location = {
    name: 'Raleigh'
  }

  $scope.searchMovieDB = function() {

    LibraryLocations.list($scope.location.name, function(locations) {
      $scope.locations = locations;
    });

  };

  $scope.searchMovieDB();

});

WakeLibraryApp.controller('ViewCtrl', function($scope, $http, $stateParams, LibraryLocations) {
  LibraryLocations.find($stateParams.locationId, function(location) {
    $scope.location = location;
  });
});
  </script>
</head>

<body>

  <!-- The nav bar that will be updated as we navigate -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="list.html" type="text/ng-template">
    <ion-view view-title="Library Locations">
      <ion-content>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="location.name" ng-change="searchMovieDB()">
        </label>
        <ion-list>
          <div class="list">

            <a ng-repeat="location in locations" href="#/library/{{location.attributes.OBJECTID}}" class="item item-thumbnail-left">
              <img ng-src="http://dev.virtualearth.net/REST/V1/Imagery/Map/Road/42.6564%2C-73.7638/13?mapSize=200,200&format=png&key=Ag5uuxO0xffGEd9QQ5vIaOp_f1KlwIycTPD4dLaYGHdfwkr5QP-lTIXwZE-_2oos" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';">
              <h2>{{location.attributes.NAME}}</h2>
              <h4>{{location.attributes.CITY}}</h4>
            </a>

          </div>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <script id="view.html" type="text/ng-template">
    <ion-view view-title="{{location.attributes.NAME}}">
      <ion-content>
        <div class="list card">

          <div class="item">
            <h2>{{location.attributes.NAME}}</h2>
          </div>

        </div>
      </ion-content>
    </ion-view>
  </script>

</body>

</html>
