<ion-view view-title="Search Wake County Books" cache-view="false">

<style>
  .gsc-search-button {box-sizing: content-box;}
  .gs-webResult .gs-snippet {margin-left: 0.6em}
  .gs-webResult.gs-result a.gs-title:link {display: block;}
</style>


  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Search Wake County libraries for books, movies, music, and much more.
      </div>
    </div>


    <div class="gcse-search" data-linkTarget="_blank" data-enableHistory="false"></div>




  </ion-content>
</ion-view>
