<ion-view title="Wake Library News">
	<ion-content>
		<style>
		 .item p {text-align: left !Important; margin-bottom:1em}
		</style>

		<div class="card">
		  <div class="item item-text-wrap item-icon-left item-divider">
				 <i class="icon ion-ios-paper-outline"></i>
		  {{newsitem.title}}</span>
		  </div>
		  <div class="item item-text-wrap">

				<span ng-bind-html="newsitem.description"></span><br />
        <span>By {{newsitem.author}}</span>
			</div>
		  <div class="item item-divider">
				Updated: {{newsitem.pubDate}}
		  </div>
		</div>


	</ion-content>
</ion-view>
