<ion-view title="News: {{newsitem.title}}">
	<ion-content>
		<style>
		 .item p {text-align: left !Important; margin-bottom:1em}
		 span.ng-binding a {text-decoration: none;color:#666;}

		</style>

		<ion-list type="card">

		  <ion-item class="item item-text-wrap item-icon-left item-divider">
				 <i class="icon ion-ios-paper-outline"></i>
		  {{newsitem.title}}</span>
		  </ion-item>

			<ion-item class="item item-text-wrap">
				<span>By {{newsitem.author}}</span><br /><br />
				<span class="padding" ng-bind-html="newsitem.description"></span><br /><br />
			</ion-item>

		  <ion-item class="item item-divider">
				Updated: {{newsitem.pubDate}}
		  </ion-item>
		</ion-list>


	</ion-content>
</ion-view>
