<ion-view view-title="Wake County Library News">
  <ion-content overflow-scroll="true">


    <ion-refresher
       pulling-text="The freshest..."
       pulling-icon="ion-ios-bookmarks-outline"
       on-refresh="doRefresh()">
     </ion-refresher>

    <!-- Lists news items -->
    <ion-list>

    		<ion-item class="item item-icon-left item-text-wrap" ng-repeat="newsitem in news | filter:{category:'Libraries'} | orderBy:'-pubDate'" href="#/app/news/{{newsitem.title}}">
          <i class="icon ion-ios-paper-outline"></i>
          <h2>{{newsitem.title}}</h2>
          <h5>{{newsitem.pubDate}}</h5>
        </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
