<ion-view title="Ask WCPL Answer">
	<ion-content>
<style>
.item-text-wrap p {margin-bottom:1em;}
		 #wcplAnswer a {text-decoration: none;color:#666;}
</style>

<ion-list type="card">
  <ion-item class="item item-text-wrap item-icon-left item-divider">
		 <i class="icon ion-ios-help-outline"></i>
  		<span ng-bind-html="answer.question"></span>
	</ion-item>


  <ion-item class="item item-text-wrap" id="wcplAnswer" ng-bind-html="answer.answer">
	</ion-item>

<ion-item>
	<div data-tap-disabled="true">
  	<a class="gs-title" ng-href="http://askwcpl.wakegov.com/mobile.php?action=5&qid={{answer.id}}">View on WakeGov.com</a>
	</div>
</ion-item>


  <ion-item class="item item-divider item-icon-left">
		Updated: {{answer.askedon}}
  </ion-item>

		</ion-list>


	</ion-content>
</ion-view>
