<ion-view title="{{answer.question}}">
	<ion-content>
<style>
.item-text-wrap p {margin-bottom:1em;}
		 #wcplAnswer a {text-decoration: none;color:#666;}
</style>

<ion-list type="card">
  <ion-item class="item item-text-wrap item-icon-left item-divider">
		 <i class="icon ion-ios-help-outline"></i>
  		<span ng-bind-html="answer.question"></span>
	</ion-item>


  <ion-item class="item item-text-wrap" id="wcplAnswer" ng-bind-html="answer.answer">
	</ion-item>

<ion-item>
		<button class="button button-small button-calm" onclick="window.open('http://askwcpl.wakegov.com/mobile.php', '_system'); return false;">View on WakeGov.com</button>
</ion-item>


  <ion-item class="item item-divider item-icon-left">
		Updated: {{answer.askedon}}
  </ion-item>

		</ion-list>

<br /><br />
	</ion-content>
</ion-view>
