<ion-view view-title="Ask WCPL">
  <ion-content overflow-scroll="true">
      <style>
      h2 u {visibility:hidden;}
      </style>

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Questions" ng-model="query" autocorrect="off">
    </label>

    <ion-list class="list">

      <ion-item ng-repeat="answer in answers | filter:query" class="item item-text-wrap item-icon-left" href="#/app/askwcpl/{{answer.id}}">
         <i class="icon ion-ios-book-outline"></i>
         <h2 ng-bind-html="answer.question"></h2>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
